@media ( max-width: 1200px ) {
	.container {
		width: 800px;
	}

	.header {
		&__logo {
			img {
				width: 85%;
			}
		}

		&__official {
			font-size: 11px;
			line-height: none;

			span {
				font-size: 17px;
				margin-top: 6px;
			}
		}

		&__call {
			font-size: 16px;
		} 
	}

	.button {
		width: 138px;
		height: 28px;
		font-size: 11px;
	}

	.button_consultation {
		margin-top: 50px;
		width: 250px;
		height: 40px;
		font-size: 15px;
	}

	.main {
		min-height: 600px;

		&__title {
			line-height: none;
			font-size: 37px;
		}

		&__subtitle {
			margin-top: 0;
			font-size: 21px;
		}

		&__icons {
			margin-top: 55px;
			width: 375px;

			img[alt="Таймер"] {
				width: 30%;
			}

			img[alt="Тележка"] {
				width: 46%;
			}

			img[alt="Сообщения"] {
				width: 38%;
			}
		}

		&__catalog {
			font-size: 15px;
		}
	}

	.advantages {
		&__header {
			font-size: 27px;
		}

		&__title {
			font-size: 17px;
			margin-top: 26px;
		}

		&__text {
			margin-top: 14px;
			font-size: 13px;
		}
	}

	.consultations {
		padding: 85px 0 75px;
		min-height: unset;

		.title_white {
			font-size: 25px;
		}

		&__form-title {
			margin-top: 40px;
			font-size: 15px;
		}

		.form {
			margin-top: 20px;
			width: 30%;

			&__input {
				font-size: 11px;
				padding: 11px;
				margin-bottom: 10px;
			}

			.button_form-button {
				margin-top: 20px;
				font-size: 12px;
				height: 35px;
				width: 100%;
			}
		}
	}

	.slider {
		.container {
			width: 90%;
			margin: 0 auto;
		}
	}

	.catalog {
		.title {
			font-size: 25px;
		}

		&__tabs {
			margin-top: 40px;
			margin-bottom: 40px;

			div {
				font-size: 14px;
			}
		}

		&__tab-content {
			justify-content: space-around;
		}
	}

	.reviews {
		.container {
			width: 75%;
			margin: 0 auto;
		}

		.title {
			font-size: 25px;
		}
	}

	.review {
		width: 100%;

		&__content {
			width: 70%;
		}
	}

	.footer {
		&__content {
			width: 400px;
			height: 220px;
			padding: 40px 55px 40px;
		}

		&__address, &__tel {
			font-size: 16px;
		}

		&__tel {
			margin-top: 20px;
		}

		&__social-icons {
			margin-top: 15px;
		}

		&__social-icon {
			height: 20px;	
		}

		&__cirle {
			height: 40px;
			width: 40px;
		}
	}
}

@media ( max-width: 1000px ) {
	.container {
		width: 100%;
		margin: 0;
	}

	.button {
		width: 125px;
		height: 25px;
		font-size: 10px;
	}

	.button_consultation {
		margin-top: 100px;
		width: 240px;
		height: 35px;
		font-size: 14px;
	}

	.main {
		background-position-x: left;
		padding: 21px 35px 70px 35px;

		&__offer {
			align-items: center;
		}

		&__title {
			font-size: 33px;
		}

		&__subtitle {
			font-size: 18px;
		}

		&__icons {
			margin-top: 49px;
		}

		&__descr {
			font-size: 13px;
		}

		&__catalog {
			font-size: 14px;
		}
	}

	.header {
		&__logo {
			img {
				width: 72%;
			}
		}   

		&__official {
			font-size: 10px;
			span {
				font-size: 15px;
			}
		}

		&__call {
			a {
				font-size: 15px;
			}
		}
	}

	.advantages {
		&__item {
			img {
				width: 45px;
			}
		}   

		&__icons {
			justify-content: space-around
		}

		&__header {
			font-size: 21px;
		}

		&__title {
			font-size: 15px;
		}

		&__text {
			width: 200px;
			font-size: 11px;
		}
	}

	.consultations {
		padding: 60px 50px 50px;

		.title_white {
			font-size: 22px;
			line-height: 30px;
		}

		&__form-title {
			font-size: 12px;
			margin-top: 25px;
		}

		.form {
			margin-top: 15px;

			&__input {
				padding: 7px;
				font-size: 10px;
				margin-bottom: 7px;
			}

			.button_form-button {
				margin-top: 10px;
				font-size: 10px;
				height: 28px;
			}
		}
	}

	.slider {
		&__next, &__prev {
			display: none;
		}

		&__item img {
			transform: scale(.8, .8);
		}
	}

	.catalog {
		.title {
			font-size: 20px;
		}
		.container {
			width: 75%;
			margin: 0 auto;
		}

		&__tabs {
			margin-top: 30px;
			width: 500px;
			margin-bottom: 30px;

			div {
				font-size: 13px;
			}
		}

		&__tab-content {
			justify-content: space-around;
		}
	}

	.card-product {
		min-height: unset;
		width: 250px;

		img {
			transform: scale(.8, .8);
		}
		
		&__title {
			font-size: 14px;
			margin-top: 0;
		}

		&__descr {
			font-size: 12px;
			margin-top: 6px;
		}

		&__toggle, &__toggle_back {
			font-size: 13px;
			margin-top: 10px;
		}

		&__toggle_back {
			margin-top: 20px;
		}

		&__old-price {
			font-size: 12px;
		}

		&__price {
			font-size: 15px;
		}

		&__more ul li{
			font-size: 12px;
		}
	}

	.review {
		&__img {
			transform: scale(0.8, 0.8);
		}

		&__title {
			font-size: 15px;
		}

		&__subtitle {
			margin-top: 3px;
			font-size: 12px;
		}
	
		&__descr {
			margin-top: 12px;
			color: #0d0d0d;
			font-size: 14px;
		}

		&__space {
			height: 12px;
		}
	}

	.footer {
		&__content {
			width: 350px;
			height: 180px;
			padding: 35px 45px 35px;
		}

		&__address, &__tel {
			font-size: 14px;
		}

		&__tel {
			margin-top: 15px;
		}

		&__social-icons {
			margin-top: 12px;
		}

		&__social-icon {
			height: 17px;	
		}

		&__cirle {
			height: 30px;
			width: 30px;
		}
	}

}

@media ( max-width: 760px ) {
	.button_consultation {
		width: 230px;
		height: 34px;
		font-size: 12px;
	}

	.header {
		&__logo img {
			width: 85%;
		}

		&__official {
			font-size: 9px;

			span {
				margin-top: 2px;
				font-size: 13px;
			}
		}

		&__call a {
			font-size: 13px;
		}

		.button {
			width: 105px;
			height: 19px;
			font-size: 9px;
		}
	}

	.main {
		&__title {
			font-size: 25px;
		}

		&__subtitle {
			font-size: 14px;
			margin-top: -7px;
		}

		&__icons {
			width: 250px;
			margin-top: 35px;
		}

		&__descr {
			font-size: 10px;
			margin-top: 10px;
			line-height: 15px;
		}

		.button_consultation {
			width: 190px;
			height: 30px;
			font-size: 11px;
			margin-top: 80px;
		}

		&__catalog {
			margin-top: 10px;
			font-size: 13px;
		}
	}

	.advantages {
		padding-top: 30px;
		padding-right: 60px;
		padding-left: 60px;

		&__header {
			font-size: 16px;
		}

		&__icons {
			margin-top: 0;
			align-items: flex-start;
			flex-wrap: wrap;

			img {
				width: 60px;
				margin-right: 20px;
			}
		}

		&__item {
			margin-top: 20px;
			flex-direction: row;
		}

		&__text {
		   text-align: left;
		}

		&__title {
			text-align: left;
		}
	}

	.consultations {
		padding: 40px 50px;

		.title_white {
			font-size: 18px;
			line-height: 22px;
		}

		&__form-title {
			font-size: 10px;
			margin-top: 15px;
		}

		.form {
			margin-top: 10px;

			&__input {
				padding: 4px;
				font-size: 9px;
				margin-bottom: 5px;
			}

			.button_form-button {
				height: 25px;
				font-size: 8px;
				margin-top: 7px;
			}
		}
	}

	.slider {
		padding: 0;

		&__wrapper {
			height: 400px;
		}

		&__item img {
			transform: scale(.7, .7);
		}
	}

	.catalog {
		.container {
			width: 90%;
		}

		&__tabs {
			width: 100%;

			div {
				font-size: 12px;
			}
		}

		&__tab {
			height: 40px;
		}
	}

	.card-product {
		width: 380px;

		img {
			transform: scale(1, 1);
		}

		&__title {
			font-size: 16px;
			margin-top: 8px;
		}

		&__descr {
			font-size: 14px;
		}

		&__toggle, &__toggle-back {
			font-size: 16px;
		}

		&__old-price {
			font-size: 14px;
		}

		&__price {
			font-size: 18px;
		}
	}

	.button_buy {
		width: 180px;
		height: 45px;
		font-size: 15px;
	}

	.reviews {
		.container {
			width: 100%;
			padding-right: 15px;
			padding-left: 15px;
		}
	}

	.review {
		align-items: center;

		&__content {
			width: 100%;
		}

		&__title {
			font-size: 13px;
		}

		&__descr {
			font-size: 12px;
		}

		&__subtitle {
			font-size: 11px;
		}

		&__img {
			width: 25%;
		}
	}
}

@media ( max-width: 560px ) {
	.main {
		padding-left: 25px;
		padding-right: 25px;

		&__icons {
			flex-direction: column;
			align-items: flex-start;
		}

		&__item {
			margin-top: 20px;
			flex-direction: row;
			justify-content: center;

			img {
				margin-right: 10px;
				width: 15% !important;
			}
		}

		&__descr {
			margin-top: 0;
			font-size: 14px;
			br {
				display: none;
			}
		}

		&__title {
			font-size: 22px;
		}

		&__subtitle {
			font-size: 12px;
		}
	}

	.header {
		margin-left: -10px;
		margin-right: -25px;

		&__official {
			display: none;
		}

		&__logo {
			width: 50%;
			img {
				width: 100%;
			}
		}

		&__call {
			width: 50%;
		   a {
			   font-size: 11px;
		   } 
		}

		.button {
			height: 22px;
		}
	}

	.consultations {
		.title_white {
			text-align: center;
			line-height: 25px;
		}

		&__form-title {
			font-size: 12px;
			margin-top: 30px;
			text-align: center;
		}

		.form {
			width: 70%;
			margin: 15px auto;

			&__input {
				padding: 8px;
				font-size: 12px;
				margin-top: 12px;
			}

			.button_form-button {
				height: 33px;
				font-size: 11px;
				margin-top: 18px;
			}
		}

	}

	.slider {
		&__wrapper {
			height: 300px;
		}

		&__item img {
			transform: scale(.5, .5);
		}
	}

	.reviews {
		.title {
			font-size: 25px;
		} 
	}

	.review {
		flex-direction: column;

		&:nth-child(2) {
			margin-top: 20px;
		}

		&__img {
			width: 50%;
			transform: scale(1,1);
			margin-bottom: 15px;
		}

		&__content {
			text-align: center;
		}
	}
}

@media ( max-width: 410px ) {
	.slider {
		&__wrapper {
			height: 250px;
		}

		&__item img {
			transform: scale(.4, .4);
		}
	}	

	.catalog {
		.title {
			font-size: 16px;
		}

		&__tab {

			div {
				font-size: 10px;
			}
		}
	}

	.advantages {
		.title {
			font-size: 24px;
		}
	}

	.reviews {
		.title {
			font-size: 20px;
		}
	}

	.footer {
		&__content {
			width: 320px;
			height: 170px;
			padding: 25px 15px 10px;
		}

		&__address, &__tel {
			font-size: 16px;
		}

		&__tel {
			margin-top: 20px;
		}

		&__social-icons {
			margin-top: 15px;
		}

		&__social-icon {
			height: 20px;	
		}

		&__cirle {
			height: 40px;
			width: 40px;
		}
	}

}