@import "base/vars";

* {
	font-family: "Museo Sans Cyrl";
	font-weight: 500;
}

.container {
	max-width: 940px;
	margin: 0 auto;
}

@import "blocks/button";
@import "blocks/header";
@import "blocks/title";
@import "blocks/form";

@import "blocks/main";
@import "blocks/advantages";
@import "blocks/consultations";
@import "blocks/slider";

@import "media";

