.consultations {
    min-height: 680px;
    padding: 100px 0 92px;
    background: url("../img/bg/consultations_bg.jpg") center (center / cover) no-repeat;

    &__form-title {
        color: #ffffff;
        font-size: 20px;
        font-weight: 500;
        margin-top: 80px;
    }

    form {
        margin-top: 36px;
    }
    .error {
        border: 1px solid red;
    }

    label.error {
        color: #fff;
        display: block;
        text-align:center;
        border: none;
        margin-bottom: 10px;

        &:nth-child(4) {
            margin-top: 10px;
        }
    }
}