.main {
    background: url(../img/bg/main-bg.jpg) center (center/cover) no-repeat;
    min-height: 650px;
    padding: 21px 0 93px 0;
    color: #fff;

    &__offer {
        margin-top: 80px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    
    &__title {
        font-size: 42px;
        line-height: 42px;
        font-weight: 700;
        text-transform: uppercase;
    }

    &__subtitle {
        margin-top: 17px;
        font-size: 24px;
        line-height: 24px;
        text-transform: uppercase;
        font-weight: 300;
    }

    &__icons {
        text-align: center;
        margin-top: 66px;
        margin-right: 18px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 428px;    

        img {
            display: block;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__descr {
        margin-top: 15px;
        line-height: 19px;
        font-size: 14px;
    }

    &__catalog {
        margin-top: 18px;
        font-size: 16px;
        span {
            text-transform: uppercase;
            text-decoration: underline
        }
    }
}