.title {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;

    &_white {
        color: #ffffff;
        font-size: 36px;
        text-align: left;
        line-height: 46px;
    }
}

   
